%header.jumbotron.subhead
  .row
    .span12
      %h1 DayScore
      %p.lead 
        Reinforce positive habits by keeping score. 
        %br
        - link = 'http://dayscore.net' + home_path(@user.rand_str)
        = link_to 'Bookmark this page', link, class: 'bookmark-link'
        and come back tomorrow to update your score.
.row
  .span8
    .things
      %p.intro 
        Today I...
        %i (click all that apply)
      - todays_things = @user.todays_things
      - active_hash = Hash[todays_things.collect {|v| [v['name'], v['_id']] }]
      - @user.thing_templates.each do |tt|
        .thing
          - if active_hash.has_key? tt.name
            %div.icon
              %i.icon-ok
            %a.name.active{id: active_hash[tt.name]}= tt.name
          - else
            %div.icon
            %a.name.inactive{id: tt._id}= tt.name
          %form.form-inline
            %input.input-medium{value: tt.name, type: 'text'}
            %button.btn Submit
          %p.buttons
            %a.edit edit
            %a.delete delete
    .add-thing
      %a add more
      %form.form-inline
        %input.input-medium{type: 'text'}
        %button.btn Submit
  .span4
    .scores
      %p.intro 
        Score
      .score.today
        %h1= todays_things.count
      - {'this-week' => @user.points_this_week, 'this-month' => @user.points_this_month, 'all-time' => @user.points_all_time}.each do |k, v|
        - clss = k + (v > 1000 ? ' thousands' : (v > 100 ? ' hundreds' : (v > 10 ? ' tens' : '')))
        .score{class: clss, style: "display:none;"}
          %h1= v
      .buttons
        %a.period.today.active today
        |
        %a.period.this-week this week
        |
        %a.period.this-month this month
        |
        %a.period.all-time total
  .span12
    #chart
    #chard-overview
  :javascript
    window.chart_data_hash = eval(#{@user.chart_data.to_json});