.row
  .span8
    .things
      %p.intro 
        - if @date
          = "On #{@date.strftime("%B %d %Y")}, I..."
        - else 
          Today I...
        %i (click all that apply)
      -# active_hash is a map of 'ticked' things, mapping name => id
      - active_hash = Hash[@things.collect {|v| [v['name'], v['_id']] }]
      -# iterate over thing templates checking if in active_hash
      - @user.thing_templates.each do |tt|
        .thing
          - if active_hash.has_key? tt.name
            %div.icon
              %i.icon-ok
            %a.name.active{id: active_hash[tt.name]}= tt.name
          - else
            %div.icon
            %a.name.inactive{id: tt._id}= tt.name
          %form.form-inline{style: "display:none;"}
            %input.input-medium{value: tt.name, type: 'text'}
            %button.btn Submit
          %p.buttons
            %a.edit edit
            %a.delete delete
    .add-thing
      %a add more
      %form.form-inline
        %input.input-medium{type: 'text'}
        %button.btn Submit
  .span4
    - unless @date
      .scores
        %p.intro 
          Score
        .score.today
          %h1= @things.count
        -# iterate over periods showing different scores
        - {'this-week' => @user.points_this_week, 
           'this-month' => @user.points_this_month, 
           'all-time' => @user.points_all_time}.each do |period, score|
          -# add digits class so CSS can display correct font-size
          - clss = period + (score > 1000 ? ' thousands' : (score > 100 ? ' hundreds' : (score > 10 ? ' tens' : '')))
          .score{class: clss, style: "display:none;"}
            %h1= score
        .buttons
          %a.period.today.active today
          |
          %a.period.this-week this week
          |
          %a.period.this-month this month
          |
          %a.period.all-time total  
  .span12
    #chart