!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title DayScore.net - Reinforce positive habits by keeping score
    %link{:rel => "shortcut icon", :href => "/assets/favicon.ico"}    
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #main{:role => "main"}
      .container  
        = yield
        %footer.footer
          .row
            .span12
              .pull-right
                &copy; 2012 
                = link_to 'Peter Ellis Jones', 'http://twitter.com/_ukoki_'
    :javascript
      window.user_random_string = "#{@user.rand_str}";